h1{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 35%;
  color: white;
  transform: translateY(-150%);
}
#code{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 40%;
  transform: translateX(-50%);
  color: red;
  transform: translateY(-500%);
  font-weight: bolder;
}
body{
  background-color: black;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}
#Matches{
  color: white;
  text-align: center;
  
}